.standard-index {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.standard-index .div {
  background-color: #ffffff;
  height: 800px;
  position: relative;
  width: 400px;
}

.standard-index .tab-bar {
  background-color: #ffffff;
  box-shadow: 10px 10px 20px #00000033;
  height: 70px;
  left: 0;
  position: absolute;
  top: 730px;
  width: 400px;
}

.standard-index .group {
  height: 38px;
  left: 277px;
  position: absolute;
  top: 16px;
  width: 26px;
}

.standard-index .text-wrapper {
  color: #b7b7b7;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 8px;
  font-weight: 400;
  left: 2px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 28px;
}

.standard-index .vector {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
}

.standard-index .button {
  background-color: #ffffff;
  border-radius: 29.5px;
  box-shadow: 0px 4px 30px #ac59ff1a;
  height: 59px;
  left: 170px;
  position: absolute;
  top: 4px;
  width: 59px;
}

.standard-index .overlap-group-wrapper {
  height: 16px;
  left: 22px;
  position: relative;
  top: 21px;
  width: 16px;
}

.standard-index .overlap-group {
  height: 16px;
  position: relative;
}

.standard-index .rectangle {
  background-color: #5d00ba;
  height: 2px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 16px;
}

.standard-index .rectangle-2 {
  background-color: #5d00ba;
  height: 2px;
  left: 0;
  position: absolute;
  top: 7px;
  transform: rotate(90deg);
  width: 16px;
}

.standard-index .group-2 {
  height: 38px;
  left: 101px;
  position: absolute;
  top: 16px;
  width: 25px;
}

.standard-index .text-wrapper-2 {
  color: #b7b7b7;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 8px;
  font-weight: 400;
  left: 8px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 28px;
}

.standard-index .img {
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 23px;
}

.standard-index .div-wrapper {
  all: unset;
  background-color: #ac59ff;
  border-radius: 30px;
  box-sizing: border-box;
  height: 47px;
  left: 60px;
  position: absolute;
  top: 668px;
  width: 280px;
}

.standard-index .text-wrapper-3 {
  color: #ffffff;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 60px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 668px;
  white-space: nowrap;
  width: 280px;
}

.standard-index .view {
  height: 10px;
  left: 156px;
  position: absolute;
  top: 652px;
  width: 89px;
}

.standard-index .ellipse {
  background-color: #d9d9d9;
  border-radius: 5px;
  height: 10px;
  left: -15px;
  position: absolute;
  top: -8px;
  width: 10px;
}

.standard-index .text-wrapper-4 {
  color: #000000;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 8px;
  font-weight: 400;
  left: 3px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -10px;
  width: 100px;
}

.standard-index .overlap-wrapper {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: var(--imgae);
  height: 240px;
  left: 80px;
  position: absolute;
  top: 382px;
  width: 240px;
}

.standard-index .overlap {
  background-image: url(https://cdn.animaapp.com/projects/650faedbe49761255f45c2b2/releases/650fc9a530f1426ce53ba43c/img/rectangle-48@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 248px;
  left: -4px;
  position: relative;
  top: -4px;
  width: 248px;
}

.standard-index .image {
  color: #ffffff;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-size: 12px;
  font-weight: 600;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.standard-index .element-wrapper {
  all: unset;
  background-color: #ffffff;
  border-radius: 8px;
  box-sizing: border-box;
  height: 32px;
  left: 44px;
  position: absolute;
  top: 196px;
  width: 160px;
}

.standard-index .element {
  color: #5d00ba;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  white-space: nowrap;
  width: 113px;
}

.standard-index .view-2 {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: var(--imgae);
  height: 240px;
  left: 80px;
  position: absolute;
  top: 118px;
  width: 240px;
}

.standard-index .overlap-2 {
  background-image: url(https://cdn.animaapp.com/projects/650faedbe49761255f45c2b2/releases/650fc9a530f1426ce53ba43c/img/rectangle-48-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 246px;
  left: -3px;
  position: relative;
  top: -3px;
  width: 246px;
}

.standard-index .image-2 {
  color: #ffffff;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-size: 12px;
  font-weight: 600;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
  white-space: nowrap;
}

.standard-index .button-2 {
  all: unset;
  background-color: #ffffff;
  border-radius: 8px;
  box-sizing: border-box;
  height: 32px;
  left: 43px;
  position: absolute;
  top: 195px;
  width: 160px;
}

.standard-index .standard-text {
  height: 56px;
  left: 97px;
  position: absolute;
  top: 25px;
  width: 210px;
}

.standard-index .text-wrapper-5 {
  color: #000000;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 54px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.standard-index .text-wrapper-6 {
  color: #565656;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: -12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 37px;
  white-space: nowrap;
}

/* form input::file-selector-button {
  display: none;
} */
/* 
@media screen and (min-width: 768px) {
  input:focus {
    outline: none;
  }
  p {
    margin-top: 1%;
    margin-bottom: 0;
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
  }

  .imageContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .imageBoxWrapper {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .femaleImageBox,
  .maleImageBox {
    width: 60%;
    height: 60vh;
    display: flex;
    border: 7px solid #2ee59d;
    border-radius: 30px;
    margin: 3% auto;
  }
  .uploadImage {
    display: none;
    border-style: none;
    border: 0 solid black;
    margin: 0;
  }

  .btn-upload {
    width: 150px;
    height: 30px;
    background: #fff;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-upload:hover {
    color: #fff;
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  .normalImage__btnBox {
    display: flex;
    text-align: center;
    margin: 10% auto;
  }

  .normalImage_title {
    color:white;
    text-align: center;
    border-radius: 0px 0px 10% 10%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2vw;
    margin-top: -15%;
  }
}

@media screen and (max-width: 768px) {
  input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
  }
  p {
    text-align: center;
    font-size: 9vw;
    font-weight: bold;
  }

  .uploadImage {
    border: 5px solid #ccc;
    border-radius: 6px;
  }

  .imageContainer {
    width: 100%;
  }

  .femaleImageBox,
  .maleImageBox {
    z-index: 999;
    display: flex;
    width: 75%;
    height: 50vh;
    border: 8px solid #2ee59d;
    border-radius: 30px;
    margin: 5% auto;
  }
  .uploadImage {
    display: flex;
    border-style: none;
    border: 0 solid black;
    margin: 0;
    opacity: 0;
    overflow: hidden;
  }

  .normalImage_btnBox {
    margin-top: 10% auto;
  }
  .btn-upload {
    width: 150px;
    height: 30px;
    background: #fff;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-upload:hover {
    color: #fff;
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  .normalImage__btnBox {
    display: flex;
    text-align: center;
    margin: 15% auto;
  }

  .normalImage__btn {
    margin-bottom: 5%;
  }

  .normalImage_title {
    color:white;
    text-align: center;
    border-radius: 0px 0px 10% 10%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2vw;
    margin-top: -25%;
  }
} */
